.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  background-color: #1d49ae;
  color: white;
}

.logo {
  font-family: 'Belleza', sans-serif;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
