.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  background-color: #1e8d14;
  background-image: url("leafs.jpeg");
  /*filter: blur(2px);
  -webkit-filter: blur(2px);*/
  color: black;
  /*border-radius: 15pt;*/
}

.logo {
  font-family: 'Belleza', sans-serif;
  color:#0716e9;
  display:inline;
  
}
.logo2 {
  font-family: 'Belleza', sans-serif;
  color:#fc0404
;
  display:inline;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Belleza', sans-serif;
  font-size: 30px ;
  color:black;
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  color:black;
}

.icon{
  width: 400px;
  height: 100px;
  /*margin: 0 20px;*/
  font-weight: 600;
}
