img {
    width: 450px;
    height: 570px;
    border-radius: 10px;
    }
    .movie {
    /* background-color: #548687; */
    /* border: 30px solid #548687; */
    border-radius: 10px;
    margin: 30px;
    }
    .movieName {
    font-weight:bold;
    font-size: 20px;
    }
    .PieChart {
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center ;
    justify-content: center;
    }

    .subtext{
        font-size: 18px; 
        /* font-family: 'Belleza', sans-serif; */
    }
    .total{
        font-size: 18px; 
        font-weight: bold;
        /* font-family: 'Belleza', sans-serif; */
    }